<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuanyang.xiaohu.twoscreen">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".receiver.SelfOpeningReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"> </action>
                <category android:name="android.intent.category.DEFAULT" />
                <!--<category android:name="android.intent.category.HOME" />-->
            </intent-filter>
        </receiver>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.CreateParamsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.OneScreenActivity">


        </activity>
        <service android:name=".service.GPIOService"/>
        <service android:name=".service.UpdateService"/>
    </application>

</manifest>